body {
    font-family: Arial, sans-serif;
    margin: 12px;
    background: #3f3f3f
}

.toolbar {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

input,
select {
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 6px
}

#count {
    margin: 8px 0;
    font-weight: bold
}